[Unit]
Description=Device Telemetry
After=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/var/pyapps/RPiDeviceInfo
StandardOutput=file:/var/log/messages
StandardError=file:/var/log/errors
ExecStart=/var/pyapps/RPiDeviceInfo/venv/bin/python3 /var/pyapps/RPiDeviceInfo/device_info.py

[Install]
WantedBy=multi-user.target
